<a href="https://colab.research.google.com/github/RAJDEEP-2225/pw-assingment/blob/main/Data_Types_and_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. What are data structures, and why are they important
=============================================================
data structur is a manner to store a data  wher we can use the data effectively .it is important because it will store & acces easily and data accesing speed will increse.

Q2) Explain the difference between mutable and immutable data types with examples.
==============================================

Mutable means we can change the value after it's created. For example, a list is mutable we can add or remove items.
Immutable means once it's made, we can't change it. A string or a tuple is immutable, we can't modify them directly.

Q3) What are the main differences between lists and tuples in Python?
========================================================================
  list
============
*    it is mutable
*   it is colective data type

*   List symbol is"[ ]"
*   adding removing is possible

tuple
==============


*   tuple is immutable
*   it is also a colectcib=ve data type
*   tuple symbol is "( )"
*   adding removing is not posible

Q4. Describe how dictionaries store data
===========================================
dictionaries store the data in the form of key : value pair for fast searching on large records.

ex
    
  name:Raj deep singh

   age:21

   sex:male

   mobileno:9711406828

Q5.Why might you use a set instead of a list in Python
==================
set is used more because it prove the unique value and it does not  allow the dublicate value but in the list yoou can create the dublicate items.

Q6.) What is a string in Python, and how is it different from a list
====================================
string is reffer to the charecters like "Rajdeep".it is diffrent from the list because in the list we can store multiple value in single lis and many data type

Q7.How do tuples ensure data integrity in Python?
==================================================
Because tuples are immutable , they protect data from being accidentally modified. that ensure data is secured

Q8. What is a hash table, and how does it relate to dictionaries in Python?
========================
A hash table is a way of storing data using a unique key for each value. Python dictionaries use hash tables under the hood to quickly find values by their keys

Q9. Can lists contain different data types in Python
==================================
yes list can store multiple data type

ex : int,float,string,complex value

Q10) Explain why strings are immutable in Python?
================================================

Strings are immutable to make them faster, safer, and more memory-efficient.

Q11. What advantages do dictionaries offer over lists for certain tasks?
========================================================================

Dictionaries are great when you want to quickly look up a value using a name or key. They are much faster than searching through a list to find something.

Q12. Describe a scenario where using a tuple would be preferable over a list?
=================================
if we have to save the immutable data like mobile no  of a person then we can use the tuple

Q13. How do sets handle duplicate values in Python?
=====================
sets automatically remove the dublicate value if we add a item twies it will remove automaticaly

Q14. How does the “in” keyword work differently for lists and dictionaries?
=============================

In a list, “in” checks if a value exists. In a dictionary, it checks if a key exists (not the value)

Q15 Can you modify the elements of a tuple? Explain why or why not?
======================================================
No  we can't modify the element of tuple because Tuples are immutable, so once they're created, we can't change, add, or remove elements

Q16. What is a nested dictionary, and give an example of its use case?
====================================
A nested dictionary is a dictionary inside another dictionary. It's useful for storing related data.

Practical question
=====================================================

In [ ]:
#Q1.Write a code to create a string with your name and print it
name="rajdeep"
print(name)
print(type(name))

rajdeep
<class 'str'>

In [ ]:
#Q2.Write a code to find the length of the string "Hello World"
b="Hello world"
print( "the length of hello world is:",len(b))

the length of hello world is: 11

In [ ]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"
c="python programming"
print(c[0:3])

pyt

In [ ]:
#4.Write a code to convert the string "hello" to uppercase
d="hello"
print(d.upper())

HELLO

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
_string="I like apple"
replaced_string=_string.replace("apple","orange")
print(replaced_string)

I like orange

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it
new_list=[1,2,3,4,5]
print(new_list)

[1, 2, 3, 4, 5]

In [ ]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]
abc=[1,2,3,4]
abc.append(10)
print(abc)

[1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5
_list=[1,2,3,4,5]
_list.remove(3)
print(_list)

[1, 2, 4, 5]

In [ ]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']
_list1=["a","b","c","d"]
print(_list1[1])

b

In [ ]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50]
_list2=[10, 20, 30, 40, 50]
_list2.reverse()
print("reversed list",_list2)

reversed list [50, 40, 30, 20, 10]

In [ ]:
#11 Write a code to create a tuple with the elements 100, 200, 300 and print it.
_tuple=(100,200,300)
print(_tuple)

(100, 200, 300)

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
_tuple1=('red', 'green', 'blue', 'yellow')
print("the second element of tuple is:",_tuple1[1])

the second element of tuple is: green

In [ ]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

_tuple2=(10,20,5,15)
print("the minimum no.in tuple is:",min(_tuple2))

the minimum no.in tuple is: 5

In [ ]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
_tuple3=('dog', 'cat', 'rabbit')
print("the index of cat is:",_tuple3.index('cat'))

the index of cat is: 1

In [ ]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
_tuple4=("mango","banana","grapes")
if "kiwi" in _tuple4:
  print("kiwi is presented in the tuple")
else:
  print("kiwi is  not presented in the tuple")

kiwi is  not presented in the tuple

In [ ]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
_set={"a","b","c"}
print(_set)

{'a', 'b', 'c'}

In [ ]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
_set2={1, 2, 3, 4, 5}
_set2.clear()

In [ ]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
_set3={1, 2, 3, 4}
_set3.remove(4)
print(_set3)

{1, 2, 3}

In [ ]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
_set4={1,2,3}
_set5={3,4,5}
print(_set4.union(_set5))

{1, 2, 3, 4, 5}

In [ ]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
print(_set4.intersection(_set5))

{3}

In [ ]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
person={"name":"Raj deep singh","Age":21,"city":"delhi"}
print(person)

{'name': 'Raj deep singh', 'Age': 21, 'city': 'delhi'}

In [ ]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
new={'name': 'John', 'age': 25}
new["country"]="USA"
print(new)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
new1={'name': 'Alice', 'age': 30}
print("the value of name is:",new1['name'])

the value of name is: Alice

In [8]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
new_tuple= {'name': 'Bob', 'age': 22, 'city': 'New York'}
new_tuple.pop("age")
print(new_tuple)

{'name': 'Bob', 'city': 'New York'}

In [7]:
#25 .Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [6]:
#26 .Write a code to create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3]
my_tuple = ('a', 'b', 'c')
my_dict = {"name": "mohit", "age": 22}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
('a', 'b', 'c')
{'name': 'mohit', 'age': 22}

In [5]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[5, 29, 42, 71, 80]

In [4]:
#28 Write a code to create a list with strings and print the element at the third index.
_listgh=["apple", "banana", "mango","cherry",  "kiwi"]
print(_listgh[3])

cherry

In [12]:
#29.Write a code to combine two dictionaries into one and print the result.
_dict1 = {"a": 1, "b": 2}
_dict2 = {"c": 3, "d": 4}
combined = {**_dict1,**_dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [1]:
#30 Write a code to convert a list of strings into a set
word = ["rajdeep", "mohit", "ayush", "mohit"]
unique = set(word)
print(unique)

{'mohit', 'ayush', 'rajdeep'}